@import url('https://fonts.cdnfonts.com/css/minecraft-4');
.huh{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt4{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt5{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt6{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt7{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.txt8{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}